<div class="container">
  <div class="jumbotron">

    <% @subject.each do |attr| %>
      <h2><%= attr[:kname] %></h2>
      <a href="/now/selected_index/<%= attr[:kcode] %>" class="btn btn-primary btn-lg active" role="button">now</a>
    </div>

    <div class="bs-example" data-example-id="contextual-table">
      <table class="table">
        <thead>
          <tr>
            <th>属性</th>
            <th>内容</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active">
            <th scope="row">科目番号</th>
            <td><%= attr[:kcode] %></td>
          </tr>
          <tr>
            <th scope="row">単位数</th>
            <td><%= attr[:unit] %></td>
          </tr>
          <tr class="success">
            <th scope="row">標準履修年次</th>
            <td><%= attr[:grade] %></td>
          </tr>
          <tr>
            <th scope="row">曜時限</th>
            <td><%= attr[:time] %></td>
          </tr>
          <tr class="info">
            <th scope="row">場所</th>
            <td><%= attr[:location] %></td>
          </tr>
          <tr>
            <th scope="row">教員</th>
            <td><%= attr[:lecturer]%></td>
          </tr>
          <tr class="warning">
            <th scope="row">概要</th>
            <td><%= attr[:summary] %></td>
          </tr>
          <tr>
            <th scope="row">備考</th>
            <td><%= attr[:note] %></td>
          </tr>
          <tr class="danger">
            <th scope="row">科目等履修生</th>
            <td><%= attr[:credit] %></td>
          </tr>
          <tr class="active">
            <th scope="row">履修条件</th>
            <td><%= attr[:conditition] %></td>
          </tr>
          <tr>
            <th scope="row">代替表現</th>
            <td><%= attr[:alternative] %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
