<section id="contact">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Now</h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">つぶやき</div>
        <table class="table">
          <tr>
            <th>科目名</th>
            <th>つぶやき</th>
            <th>ポジ/ネガ</th>
            <th>日時</th>
            <th>削除</th>
          </tr>
          <% @posts.reverse %>
          <% @posts.each do |post| %>
            <%= post['subject_name']%>
            <tr>
                <% if post['text'] != '' %>
                  <% if post['score'] < -0.3 %>
                    <td><span class="label label-primary">Neg</span></td>
                  <% elsif post['score'] > 0.3 %>
                    <td><span class="label label-success">Pos</span></td>
                  <% else %>
                    <td><span class="label label-default">Nor</span></td>
                  <% end %>
                  <td><a href="/search/detail/<%= post['subject_kcode']%>"><%= post['kname']%></a></td>
                  <td><%= post['text']%></td>
                  <td><%= post['created_at']%></td>
                  <td><a href="/now/delete/<%= post['id'] %>">削除</a></td>
                <% end %>
              </tr>
            <% end %>
        </table>
        <div class="panel-footer"><div class="text-center"><%= paginate(@posts) %></div></div>
      </div>
    </div>
  </div>
</div>
</section>
