<%= stylesheet_link_tag    'now', media: 'all', 'data-turbolinks-track' => true %>
<section id="contact">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Now - 
        <% @subject.each do |element| %>
          <a href="/search/detail/<%= @subject_kcode %>"><%= element['kname'] %></a>
        <% end %>
      </h2>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <%= form_for(@post, url: {:action=>'selected_index'}, html: { method: :post, role: 'form' }) do |f| %>
            <div class="col-xs-9">
              <%= f.text_field :text, class: 'form-control', placeholder: '今なにしてる?' %>
            </div>
            <%= submit_tag "つぶやく", class: 'btn btn-default' %>
          <% end %>
        </div>
        <div class="list-group">
          <% @posts.reverse.each do |post| %>
            <div class="list-group-item">
              <p class="tweet-toggle" class="list-group-item">
              <% if post['score'] < -0.3 %>
                <span class="label label-primary">Neg</span>
              <% elsif post['score'] > 0.3 %>
                <span class="label label-success">Pos</span>
              <% else %>
                <span class="label label-default">Nor</span>
              <% end %>
              <%= post['text'] %>
              </p>
              <div class="tweet-data">
                <div class="table">
                  <% if post['text'] != '' %>
                    <td><%= post['created_at']%></td>
                    <td><a href="/now/delete/<%= post['id'] %>">削除</a></td>
                  <% end %>
                </div>
              </div>
            </div>
          <%end%>
        </div>
        <div class="panel-footer"><div class="text-center"><%= paginate(@posts) %></div></div>
      </div>
    </div>
  </div>
</div>
</section>
<script>
  $(function() {
    $(".tweet-data").hide();
    $(".tweet-toggle").click(function() {
      $(this).next().slideToggle().siblings(".tweet-data").slideUp();
    });
  });
</script>
