<!DOCTYPE html>
<html>
<head>
  <title>Twintter</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'freelancer', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'scrollspy', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'classie', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'cbpAnimatedHeader.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'freelancer', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'toggletweet', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
