<!DOCTYPE html>
<html>
<head>
  <title>Twintter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'freelancer', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'classie', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'cbpAnimatedHeader', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jpBootstrapValidation', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'contact_me', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'freelancer', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>
<%= render 'layouts/footer' %>

</body>
</html>
